img {
    height: 50px;
    opacity: 0.5;
}

body {
    
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color : white;
    background-color: lightcyan;
    background-image:url('image/Free\ Photo\ |\ Black\ office\ desk\ table\ with\ computer\ and\ coffe\ cup.jpg');
    
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight : bold;
}

main {
    text-align : right;
}

a {
    color: white;
}

nav {
   /* background-color : black;
    opacity: 0.7*/
    background-color: rgba( 0, 0, 0, 0.5);
}